{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Soumissions pour la conférence : {{ conference.name }}</h2>

{% if user.is_authenticated %}
<a href="{% url 'add_submission' %}?conference_id={{ conference.pk }}" class="btn btn-primary">
    Ajouter une soumission
</a>

{% endif %}


    <table border="1" style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Statut</th>
                <th>Auteur</th>
                <th>Conférence</th>
                <th>Date de soumission</th>
                <th>Paiement</th>
                <th>Détails</th>
            </tr>
        </thead>
        <tbody>
            {% for submission in submissions %}
            <tr>
                <td>{{ submission.title }}</td>
                <td>{{ submission.status }}</td>
                <td>{{ submission.userid.username }}</td>  <!-- ou submission.userid.get_full_name -->
                <td>{{ submission.conference.name }}</td>
                <td>{{ submission.submission_date }}</td>
                <td>{% if submission.payed %}Payé{% else %}Non payé{% endif %}</td>
                <td>
                    <a href="{% url 'submission_detail' submission.submission_id %}" class="btn btn-secondary">
                        Détails
                    </a>
                    <a href="{% url 'update_submission' submission.submission_id %}" class="btn btn-warning btn-sm">
                        Modifier
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" style="text-align: center;">Aucune soumission trouvée.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
